 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #282b30;
  background-color: #36393e;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #99aab5;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #4a4c51;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2e3136;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #424549;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  margin: auto;
  width: auto;
  text-align: center;
} 
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#titleDiv {
  background-color: #424549;
  margin: auto;
  min-width: 200px;
  max-width: 300px;
  width: 50%;
  padding: 10px;
}
#role-list {
  border: 2px solid black;
  background-color: #99aab5;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100px;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  width: 50%;
  padding: 5px;
  list-style-type: none;
}
#queue {
  border: 2px solid black;
  background-color: #99aab5;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-height: 100px;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  width: 50%;
  padding: 5px;
  list-style-type: none;
}
#remove-role-button {
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  margin-top:5px;
  width: 50%;
  padding: 5px;
}
#recreate-button {
  border: 30px;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  width: 50%;
  padding: 5px;
}
#random-draw-button {
  margin-top: 10px;
}
#clear-queue-button {
  margin-top: 5px;
}
/* #Roles {
  margin: auto;
  width: auto;
  padding: 1px;
  text-align: center;
} */
body {
  background-color: #424549;
}
h1 {
  color: #99aab5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24pt;
  border: 5px ridge #7289da;
  text-align: center;
}
h2 {
  color: #99aab5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24pt;
  border: 5px ridge #7289da;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  min-width: 200px;
  max-width: 300px;
  width: 50%;
  padding: 5px;
}
li:hover {
  background-color: gray;
  cursor: pointer;
}
li.selected {
  background-color: #7289da;
  cursor: pointer;
}
.white-button,
.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
}
.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}
.white-button {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}
.blue-button:hover,
.white-button:hover,
.black-nitro-button:hover,
.green-nitro-button:hover {
  transform: translateY(1px);
}
.blue-button:active,
.white-button:active,
.black-nitro-button:active,
.green-nitro-button:active {
  transform: translateY(2px);
}
.blue-button,
.white-button,
.black-nitro-button,
.green-nitro-button {
  outline: transparent !important;
}